<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Your Page Title</title>
    <script src="https://checkout.razorpay.com/v1/checkout.js"></script>
</head>
<body>
    <div class="col-6 mx-auto" style="margin-top: 10%;">
        <form id="payment-form" method="POST">
            {% csrf_token %}
            <!-- Your form fields go here -->
            <div>
                <button type="button" class="btn btn-primary" onclick="handlePayment()">Pay Now</button>
            </div>
        </form>
    </div>

    <script>
        function handlePayment() {
            var options = {
                key: "rzp_test_cvGs8NAQTlqQrP",
                amount: 10000,
                currency: "INR",
                name: "{{appointment.client.name}}",
                description: "Test Transaction",
                image: "https://imgur.com/NOWiBu9",
                order_id: "{{ appointment.order_id }}",
                callback_url: "{{callback_url}}",
                redirect: true,
                prefill: {
                    "name": "{{appointment.client.name}}",
                    "email": "{{appointment.client.email}}",
                    "contact": "{{appointment.client.phone}}"
                },
                notes: {
                    "address": "Razorpay Corporate Office"
                },
                theme: {
                    "color": "#3399cc"
                },
                handler: function (response) {
                    console.log("Razorpay Response:", response);
                }
            };
            var rzp1 = new Razorpay(options);
            rzp1.open();
        }
    </script>
</body>
</html>
