{% load static %}
<!-- your_template.html -->
<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/font-awesome.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="{% static 'css/navigation.css' %}">

    <style>
        .student-card {
            width: 100%;
            background: #f6f3f3a7;
            max-height: 20em;
            word-wrap: break-word;
            transition: 300ms;
        }

        .student-card:hover {
            box-shadow: 0 2px 7px #79777765;
        }

        .row {
            row-gap: 1em;
        }
    </style>
</head>

<body>

    <div class="conatainer p-5" style="overflow-x: hidden;">
        <h1 class="text-center mb-5">Unassigned Students</h1>
        <div class="row">
            {% for student in unassigned_students %}
            
            <div class="col-md-3">
                <div class="student-card p-3">
                    <h5>{{ student.user.first_name }} {{ student.user.last_name }}</h5>
                    <p>{{ student.user.email }}</p>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestiae, modi!</p>
                    <form method="post" action="{% url 'hire_student' student.id %}">
                        <!-- url 'hire_student' student.id -->
                        {% csrf_token %}
                        <button type="submit" class="btn btn-md btn-warning mx-auto">Hire Student</button>
                    </form>
                </div>
            </div>
            {% empty %}
            <li>No unassigned students found.</li>
        {% endfor %}
        </div>
    </div>

</body>

</html>